.modal {
    justify-self: center;
    width: 100%;
    height: 100%;
}

.submit-btn {
    justify-content: center;
}

.btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}


/* On mouse-over */

.btn:hover {
    background: #eee;
}

.info {
    color: dodgerblue;
}