.back {
    justify-self: center;
    width: 100%;
    height: 100%;
}

.legend {
    font-size: large;
    justify-self: center;
}

* {
    box-sizing: border-box;
}

body {
    margin: 5px;
    background-color: #fafafa;
}

.configInput {
    width: 50%;
    resize: vertical;
    padding: 8px;
    border-radius: 15px;
    border: 0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
    height: 5%;
    /* justify-self: center; */
    float: right;
}

.config-wrapper {
    width: 100%;
    padding: 15px;
    background: #dcd6dd;
    box-shadow: 0px 1px 4px #888888;
    display: inline-block;
    justify-content: center;
}

.submit-btn {
    justify-content: center;
}

.btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}


/* On mouse-over */

.btn:hover {
    background: #eee;
}

.info {
    color: dodgerblue;
}


/* Toggle Swtich */

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 34px;
}

.fieldWrapper {
    justify-content: baseline;
}