.back {
    justify-self: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f5f8;
}

.config-form{
    border:none;
}

fieldset{
    border:0;
}

.legend {
    font-size: large;
    justify-self: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 18pt;
    color:#4d6f8a;
}

* {
    box-sizing: border-box;
}

body {
    margin: 5px;
    background-color: #f2f5f8;
}

.configInput {
    width: 50%;
    resize: vertical;
    padding: 8px;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 1px 4px #888888;
    float: right;
}

.config-wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 15px;
    background: #ffffff;
    display: inline-block;
    justify-content: center;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 1px 4px #888888;
    overflow: hidden;
}

.submit-btn {
    justify-content: center;
}

.btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}


/* On mouse-over */

.btn:hover {
    background: #eee;
}

.info {
    color: dodgerblue;
}


/* Toggle Swtich */

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 34px;
}

.fieldWrapper {
    justify-content: baseline;
}