table {
    border: 1px solid black;
    width: 100%;
    justify-content: center;
}

th {
    border: 1px solid black;
    width: 16.66%;
    justify-content: center;
    padding: 15px;
}

td {
    border: 1px solid black;
    width: 16.66%;
    justify-content: center;
}

tr {
    justify-content: center;
    text-align: center;
}

.search {
    border: 1px solid black;
    width: 33%;
}